<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="templet"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <!-- CSS only -->

</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="text-danger text-center">Page non autoriser</h1>
            </div>
        </div>
    </div>
</div>

</body>
</html>